.second-section {
  grid-template-areas:
    'title . .'
    'column-one column-two column-three';
  grid-template-columns: 1fr 315px 1fr;
  grid-template-rows: 50px auto;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 870px) {
  .second-section {
    grid-template-areas:
      'title .'
      'column-one column-one'
      'column-two column-two'
      'column-three column-three';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 450px) {
  .second-section {
    grid-template-areas:
      'title title'
      'column-one column-one'
      'column-two column-two'
      'column-three column-three';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
}