.decorated-zone {
  background-image: url(../../images/cover-image-light.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 315px 1fr;
  grid-template-rows: 299px 244px 185px;
  grid-template-areas:
    '. nav .'
    'title title title'
    '. subtitle subtitle';
  column-gap: 10px;
  align-items: start;
}

@media screen and (max-width: 820px) {
  .decorated-zone {
    grid-template-columns: 1fr 1fr 364px;
    grid-template-rows: 443px auto 442px;
    grid-template-areas:
      '. . nav'
      'title title title'
      '. . subtitle';
  }
}

@media screen and (max-width: 500px) {
  .decorated-zone {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 228px auto 228px;
    grid-template-areas:
      '. . nav'
      'title title title'
      'subtitle subtitle subtitle';
  }
}