@import url(./header/header.css);
@import url(./header/__theme-menu-list/header__theme-menu-list.css);
@import url(./decorated-zone/decorated-zone.css);
@import url(./header/__title/header__title.css);
@import url(./header/__subtitle/header__subtitle.css);
@import url(./header/__theme-menu/header__theme-menu.css);
@import url(./header/__theme-menu-button/header__theme-menu-button.css);


@import url(./main/main.css);
@import url(./section/section.css);
@import url(./first-section/first-section.css);
@import url(./section/__title/section__title.css);
@import url(./section/__info/section__info.css);
@import url(./section/__subtitle/section__subtitle.css);
@import url(./section/__subtitle/_top/section__subtitle_top.css);
@import url(./section/__paragraph/section__paragraph.css);

@import url(./second-section/second-section.css);

@import url(./section/__info/_column-one/section__info_column-one.css);
@import url(./section/__info/_column-two/section__info_column-two.css);
@import url(./section/__info/_column-three/section__info_column-three.css);

@import url(./section/__images/section__images.css);
@import url(./section/__for-images/section__for-images.css);
@import url(./section/__images/_books/section__images_books.css);
@import url(./section/__images/_ice-cream/section__images_ice-cream.css);
@import url(./section/__images/_street/section__images_street.css);
@import url(./section/__images/_sunset/section__images_sunset.css);
@import url(./section/__images/_tape/section__images_tape.css);

@import url(./footer/footer.css);

.page {
  background-color: #FFF1F7;
  padding: 0 20px;
}

@media screen and (max-width: 450px) {
  .page {
    padding: 0 10px;
  }
}