.header__title {
  color: #FFC2E6;
  text-shadow: 4px 4px 0px #FF0070;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-inline-start: -20px;
  grid-area: title;
}

@media screen and (max-width: 820px) {
  .header__title {
    text-shadow: 4px 4px 0px #FF8DCB;
    font-size: 120px;
  }
}

@media screen and (max-width: 450px) {
  .header__title {
    font-size: 116px;
    margin-inline-start: -10px;
  }
}